.header {
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    font-weight: 700;
    margin: auto;
    color: var(--text);
    padding-top: 1.5rem;
}

.header2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 700;
    margin: auto;
    color: var(--text);
    padding-top: 1rem;
}

.paragraph {
    font-size: .90rem;
    color: var(--text-alt);
    line-height: 1.6;
    max-width: 600px;
    margin: auto;
    padding-top: 0.75rem;
}

.list {
    font-family: 'Playfair Display', serif;
    font-size: 1.00rem;
    color: var(--text-alt);
    transform: translateX( -1rem);
}